<%= form_with model: article, class: "w-full max-w-lg mx-auto" do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-500 text-xs italic mt-2"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-4">
    <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-32" %>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div class="text-red-500 text-xs italic mt-2"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
