<nav class="bg-blue-500 p-4" x-data="{ open: false }">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo/Brand -->
    <div class="text-white text-lg font-bold">
      <%= link_to "Alpha Blog", root_path, class: "hover:underline" %>
    </div>

    <!-- Hamburger Button (for mobile) -->
    <div class="block lg:hidden">
      <button @click="open = !open" class="text-white focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Desktop Navbar Links (Visible on lg screens and above) -->
    <div class="hidden lg:flex lg:items-center lg:space-x-4">
      <% if logged_in? %>
        <%= link_to "Create New Article", new_article_path, class: "text-white hover:underline" %>
        <% if current_user.admin %>
          <%= link_to "Admin #{current_user.username}", user_path(current_user), class: "text-white hover:underline block px-4 py-2" %>
        <% else %>
          <%= link_to current_user.username, user_path(current_user), class: "text-white hover:underline block px-4 py-2" %>
        <% end %>
        <%= link_to "Bloggers", users_path, class: "text-white hover:underline" %>
        <%= link_to "Articles", articles_path, class: "text-white hover:underline" %>
        <%= link_to 'Logout', logout_path, method: :delete, data: { turbo_method: :delete }, class: 'text-white hover:underline' %>
      <% else %>
        <%= link_to "Login", login_path, data: { turbo_frame: '_top' }, class: 'text-white hover:underline' %>
        <%= link_to "Register", signup_path, data: { turbo_frame: '_top' }, class: 'text-white hover:underline' %>
      <% end %>
    </div>
  </div>

  <!-- Mobile Dropdown Menu (Only visible on smaller screens) -->
  <div x-show="open"
       x-transition:enter="transition ease-out duration-200"
       x-transition:enter-start="opacity-0 scale-95"
       x-transition:enter-end="opacity-100 scale-100"
       x-transition:leave="transition ease-in duration-75"
       x-transition:leave-start="opacity-100 scale-100"
       x-transition:leave-end="opacity-0 scale-95"
       class="lg:hidden absolute right-0 mt-2 w-48 bg-blue-500 shadow-lg rounded-lg">
    <ul class="flex flex-col space-y-2">
      <% if logged_in? %>
        <li class="border-b border-white"><%= link_to "Create New Article", new_article_path, class: "text-white hover:underline block px-4 py-2" %></li>
        <li class="border-b border-white">
          <% if current_user.admin %>
            <%= link_to "Admin #{current_user.username}", user_path(current_user), class: "text-white hover:underline block px-4 py-2" %>
          <% else %>
            <%= link_to current_user.username, user_path(current_user), class: "text-white hover:underline block px-4 py-2" %>
          <% end %>
        </li>
        <li class="border-b border-white"><%= link_to "Bloggers", users_path, class: "text-white hover:underline block px-4 py-2" %></li>
        <li class="border-b border-white"><%= link_to "Articles", articles_path, class: "text-white hover:underline block px-4 py-2" %></li>
        <li class="border-b border-white"><%= link_to 'Logout', logout_path, method: :delete, data: { turbo_method: :delete }, class: 'text-white hover:underline block px-4 py-2' %></li>
      <% else %>
        <li class="border-b border-white"><%= link_to "Login", login_path, data: { turbo_frame: '_top' }, class: 'text-white hover:underline block px-4 py-2' %></li>
        <li class="border-b border-white"><%= link_to "Register", signup_path, data: { turbo_frame: '_top' }, class: 'text-white hover:underline block px-4 py-2' %></li>
      <% end %>
    </ul>
  </div>
</nav>


